
<div style="padding-top: 50px;" class="container">
    <div style="width: 30%; margin: 25px auto;">
       <h1 style="text-align: center"><i class="fas fa-sign-in-alt"></i>  Login</h1>
      <hr style="height: 12px;border: 0;box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5)">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="form-group">
              <strong><label style="padding-left: 130px;">E-Mail</label></strong>
                <input style="border-radius: 50px"[ngModel]='username'  class="form-control" type="email" name="username" placeholder="e@mail.com">
            </div>
            <div class="form-group">
              <strong><label style="padding-left: 130px;">Password</label></strong>
                <input style="border-radius: 50px"[ngModel]='password' class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button type="submit" style="border-radius: 50px" class="btn btn-lg btn-info btn-block">LogIn</button>
            </div>
        </form>
    </div>
  </div>