<% include ../partials/header %>
<div style="margin-left:30%;margin-top:15%" class="container">
<h1>Welcome to "Once Upon a Book" Library</h1>
<form style="display:inline;margin-left:15%" class="form-group" action="/login" method="POST">
    <button class="btn btn-primary">Login</button>
</form>
<form style="display:inline" class="form-group" action="/signup" method="GET">
    <button class="btn btn-primary">Signup</button>
</form>
</div>

<% include ../partials/footer %>