        <h1>List of All books</h1>
            <form class="form-wrapper cf">
                    <input type="text" placeholder="Search here..." required #f>
                    <button type="submit" (click)="onSearch(f.value)">Search</button>
                </form>
            <table class="responstable">
                    <tr>
                      <th>Name of the Book</th>
                      <th></th>
                    </tr>
                    <tr *ngFor="let book of books;let i = index">
                      <td> {{book.name }}</td>
                      <td>
                        <form style="display:inline" *ngIf="book.availableunits > 0">                
                            <button class="btn btn-primary" style="float:right" (click)="onIssue(book._id)">Issue</button>
                        </form>
                        <form style="display:inline" *ngIf="book.availableunits === 0" >                
                            <button disabled="disabled" class="btn btn-primary" style="float:right">Issue</button>
                        </form> 
                    </td>
                    </tr>
                    </table>
                    <br>